=link_to group_messages_path(group) do
  .chat-side__groups_name
    = group.name
  .chat-side__groups_message
    - if group.messages.empty?
      まだメッセージはありません
    - else
      = group.messages.last.body
